<main>
    <h1>Welcome <%if (user.connected) { %><%= user.name %><% } %> to my website</h1>
    
    <p>Thank you for visiting my website. Here you will find information about my services and how I can help you achieve your goals.</p>
    <p>You have access to some feature, click on the app icon to access the feature.</p>
    <p>If you connect to the app, you will be able to access more features, for instance, you will be able to create a new post, edit your profile, etc.</p>
    <p>You will also be able to save your data of the apps</p>
    <p>Feel free to browse around and contact me if you have any questions or would like to schedule a consultation.</p>
    <p>I look forward to hearing from you!</p>

    
    <div class="blogs">
        <h2>What's new ?</h2>
        
        <% if (blogs != undefined && blogs.length > 0){ %>
           <% var index = 0; %>
            <% blogs.forEach(blog => {  %>
            <% if (index < 5) { %>
                <% index++; %>
                <p class="title">
                    <%= blog.title %>
                    <a href="/blog/edit/<%= blog.id %>"><svg alt="Edit" class="edit-img" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.56078 20.2501L20.5608 8.25011L15.7501 3.43945L3.75012 15.4395V20.2501H8.56078ZM15.7501 5.56077L18.4395 8.25011L16.5001 10.1895L13.8108 7.50013L15.7501 5.56077ZM12.7501 8.56079L15.4395 11.2501L7.93946 18.7501H5.25012L5.25012 16.0608L12.7501 8.56079Z" fill="var(--txt-color)"></path> </g></svg></a>
                    <a href="/blog/delete/<%= blog.id %>"><svg alt="Delete" class="delete-img" onclick="deleteBlog('<%= blog.id %>')" viewBox="-0.5 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="var(--txt-color)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>icon/18/icon-delete</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="out" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <path d="M4.91666667,14.8888889 C4.91666667,15.3571429 5.60416667,16 6.0625,16 L12.9375,16 C13.3958333,16 14.0833333,15.3571429 14.0833333,14.8888889 L14.0833333,6 L4.91666667,6 L4.91666667,14.8888889 L4.91666667,14.8888889 L4.91666667,14.8888889 Z M15,3.46500003 L12.5555556,3.46500003 L11.3333333,2 L7.66666667,2 L6.44444444,3.46500003 L4,3.46500003 L4,4.93000007 L15,4.93000007 L15,3.46500003 L15,3.46500003 L15,3.46500003 Z" id="path" fill="var(--txt-color)" sketch:type="MSShapeGroup"> </path> </g> </g></svg></a>
                </p>
                <p class="author">By <%= blog.author %></p>           
                <p class="body"><%= blog.body %></p>           
          <% }}) %>
        <% } %>
    </div>

</main>